.products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.photo{
    max-height: 50px;
}

.link {
  text-decoration: none;
  color: var(--titleColor);
}

.input {
  background-color: var(--bgDetailsColor);
  border: none;
  border-radius: 2px;
}

.input:focus {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.digital {
  padding-right: 10px;
  font-size: 20px;
}

.icon{
    height: 25px;
    width: 25px;
}

.total{
    text-align: end;
}
