.container {
    max-width: 100px;
    position: fixed;
    background-color: var(--bgColor);
    right: 40px;
    top: 35px;
    border-radius: 50%;
    padding-inline: 10px;
    padding-block: 7px;
}

.count{
    position: fixed;
    right: 40px;
    top: 25px;
    z-index: 2;
    background-color: var(--textDetailsColor);
    color: var(--bgColor);
    border-radius: 50%;
    padding-inline: 10px;
    padding-block: 2px;
}

@media (min-width: 780px) {
  .container{
   top: 110px;
  }
  .count{
    top: 100px;
  }
}