.photoBig {
  max-height: 380px;
}

.photoSmall {
  max-height: 280px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 0;
}

@media (min-width: 780px) {
  .photoBig {
    max-height: 480px;
  }
}
