.container {
  max-width: 100vw;
  background-color: var(--bgColor);
}

.logo {
  margin-top: 2%;
  margin-left: 20px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-inline: 20px;
}

.content{
    margin-inline: 25px;
    margin-top: 45px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 780px) {
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
