.content{
    margin-inline: 25px;
    margin-top: 45px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 780px) {
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
