.mainContainer{
    background-image: url("../../images/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.mainLogo{
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.mainContent {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
    margin-top: 3%;
    justify-content: space-between;
}