@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

:root{
  --desktop: 780px;
  --buttonColor: rgb(56, 56, 56);
  --menuColor: #fff;
}