@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Rufina', serif;
  font-weight: 400;
  color: var(--textColor);
  line-height: 25.5px;
  font-size: 17px;
}

:root{
  --bgColor: #fff;
  --textColor: #747474;
  --titleColor: #383838;
  --textDetailsColor: #c2a18a;
  --bgDetailsColor: #e4dcd4;
}